fastapi[standard]
uvicorn[standard]
SQLAlchemy
asyncpg
psycopg2-binary
alembic==1.13.0
pyjwt[crypto]==2.8.0
pyotp==2.9.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
pytest==7.4.3
pytest-asyncio==0.23.2
httpx==0.25.2
python-dotenv==1.0.0
qrcode==7.4.2
pydantic-settings==2.1.0
APScheduler==3.10.4
requests
aiosqlite
